$color_text_dark: rgba(0, 0, 0, 1);
$color_text_light: rgba(232, 232, 232, .87);
$mainFont: AvenirNextMedium, sans-serif;



//header


$heightTopHeader: 42/16+rem;
$mrnHeader: 22/16+rem;

//header_btn
$bthHeight: 15/16+rem;


$fontSize15px: 15/16+rem;
$fontSize9px: 9/16+rem;
$fontSize6px: 6/16+rem;
$fontSize19px: 19/16+rem;
$heightServices: 221/16+rem;
$marginTopServices: 76/16+em;
$paddingUl: 37/16+em 0 47/16+em 0;
$paddingTopLi: 33/16+rem;

// $fontSize_42px: 42/16

// secondBlock

$fontSize18px: 18/16+rem;
$fontSize13px: 13/16+rem;
