@import 'includes/_settings.scss';
/*==========  Mobile First Method  ==========*/
// main

@font-face{
	font-family: AvenirNextItalic;
	src: url('../../fonts/AvenirNext-Italic.ttf');
}
@font-face{
	font-family: AvenirNextMedium;
	src: url('../../fonts/AvenirNext-Medium.ttf');
}
@font-face{
	font-family: AvenirNextRegular;
	src: url('../../fonts/AvenirNext-Regular.ttf');
}
// header

html{
	min-width: 320px;
	box-sizing: content-box;

}
.overflow{
	overflow: hidden;
}
	body{
		font-family: $mainFont;
		min-width: 320px;

	}
	footer{
		width: 100%;
		display: flex;
	}

	.logo{
		width: 60px;
		height: 33px;
		margin: auto;
		bottom: 0;
	}

// mixins

@mixin visible($id){
	display: $id;
}

.first_tablet_background_and_logo{
	@include visible(none);
}
.second_tablet_background_and_logo{
	@include visible(none);
}
.third_tablet_background_and_logo{
	@include visible(none);
}
.more_content{
	@include visible(none);
}
.header_slider{
	@include visible(none);
}
.slider{
	@include visible(none);
}
.paginator-center{
	@include visible(none);
}





	.first_mobile_background_and_logo{
		position: relative;
		z-index: -1;
		width: 100%;
		min-width: 320px;
		// min-height: 480px;
		line-height: 0;
		.first_mobile_background{
			width: 100%;
		}
			.first_block_logo{
		position: absolute;
		bottom: 5%;
	}
	}
	.first_section{
		width: 100%;
		min-width: 320px;
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 1;
		.container_first{
			position: relative;
			.top_header{
				display: inline-flex;
				flex-direction: row;
				justify-content: space-between;
				height: 2.725rem;
				background: rgba(196, 196, 196, .39);
				width: 100%;
				.nameAndProfession{
					text-align: center;
					padding-top: 6px;
					align-self: flex-start;
				}
				.telephonAndBtn{

				// padding-top: 6px;
					text-align: right;
					a{
						color: black;
						text-decoration: none;
					}
				}
				.name{
					font-family: AvenirNextMedium;
					font-size: 0.9375rem;
					font-weight: 500;
				}
				.profession{
					font-family: AvenirNextRegular;
					font-size: 0.5625rem;
				}
				.telephone{
					font-size: 0.5625rem;
				}
				.container_for_popup{
					// height: 10px;
					margin-top: -.2em;
					a{
						font-family: AvenirNextRegular;
						font-size: 0.43rem;
						background: red;
						height: 0.9375rem;
						box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.50);
						background: rgba(216, 216, 216, .10);
						border-radius: 0.125rem;
						padding: 0.2045rem 0.3125rem 0.2175rem 0.2125rem;
						border: none;

					}
				}

				.nameAndProfession{

					margin-left: 1.375rem;
					margin-top: .15rem;
				}
				.profession{
					margin-top: -2px;
				}
				.telephonAndBtn{
					// float: right;
					margin-right: 1.375rem;
					margin-top: .1rem;

					.mfp-hide{
						background: red;
					}




				}

			}
			.services{
				width: 100%;
				position: absolute;
				font-size: 1.1666666667rem;
				margin-top: 25%;
				text-align: center;
				background: rgba(171, 163, 163, .37);
				color: rgba(232,232,232,0.87);
				letter-spacing: 0.73px;
				border-top: 1px solid #AC9B9C;
				border-bottom: 1px solid #AC9B9C;
				ul{
					padding: 12.15331%;
					li:nth-child(2){
						padding-top: 14%;
					}
					li:nth-child(3){
						padding-top: 14%;
					}
				}
			}
		}
}

						.white-popup{
						// width: 600px;
						// height: 300px;
						// background: red;
						// margin: auto;

}
// second_section
.second_mobile_background_and_logo{
	position: relative;
	z-index: -1;
	width: 100%;
	min-width: 320px;
	// min-height: 480px;
	line-height: 0;
	.second_mobile_background{
		width: 100%;
		height: 100%;
	}
		.second_block_logo{
		position: absolute;
		bottom: 5%;
			.logo{
			@include visible(none);
		}
	}
}
.second_section{
	position: absolute;
	width: 100%;
	min-width: 320px;


	.container_second{
		position: relative;
		display: flex;


	.second_section_main_block{
		width: 92.8125%;
		margin: auto;
		margin-top: 8%;
		margin-bottom: 5.5833333%;
		background: rgba(255,255,255,0.45);
		box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.76), inset 0px 0px 1px 0px rgba(0,0,0,0.50);
		.container_for_main_info{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-top: 5.8%;
		ul{
			margin: auto;
			text-align: center;
		}
			.container_for_basic_wardrobe{

				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin: auto;
				ul{
					margin-top: 6%;
				}

			}
			.container_for_outerwear{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin: auto;
				margin-top: 9.2%;
								ul{
					margin-top: 10%;
				}
			}
			h2{
			font-family: AvenirNextMedium;
			font-size: $fontSize18px;
			color: rgba(0,0,0,.41);
			text-shadow: 0 0 .0000001rem rgba(0,0,0,.41);
			letter-spacing: -1px;
			text-align: center;

		}
		h2.outerwear{

		}


		li{
			font-family: AvenirNextMedium;
			font-size: $fontSize15px;
			font-size: 15px;
			color: rgba(0, 0, 0, .82);
			margin: auto;
			line-height: 20px;
			text-align: left;
		}

		}

		.download{
			font-family: AvenirNextMedium;
			font-size: $fontSize13px;
			background: rgba(222,222,222,0.14);
			border: 1px solid #CBCBCB;
			text-align: center;
			height: 1.6275rem;
			color: rgba(0,0,0,0.70);
			box-shadow: inside 0px 0px 1px 0px rgba(203,203,203,1);
			background: rgba(216, 216, 216, .10);
			padding: 0 1.9em;
			border-radius: 0.125rem;
			padding-top: .25em;
			padding-bottom: .27em;
			padding-left: 1.8em;
			padding-right: 1.8em;
		}

	}
	.btn_price{
		margin: auto;
		margin-top: 17%;
		margin-bottom: 5%;
		text-align: center;
	}
	.btn_price p{

		font-family: AvenirNextItalic;
		font-size: $fontSize9px;
		color: rgba(0,0,0,0.70);
		width: 174px;
		margin: auto;
		margin-top: 2.79999%;
		text-align: center;
		line-height: 10px;
	}
}


}


.third_mobile_background_and_logo{
	position: relative;
	z-index: -1;
	width: 100%;
	min-width: 320px;

	line-height: 0;
	.third_mobile_background{
		width: 100%;
		height: 100%;
	}
		.third_block_logo{
		position: absolute;
		bottom: 5%;
	}
}

.third_section{
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		min-width: 320px;

	.container_third{
		position: relative;
		.third_section_main_block{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 92.8125%;
			// min-width: 320px;
			margin: auto;
			margin-top: 1.1411rem;
			padding-bottom: 22%;
			background: rgba(255,255,255,0.45);
			box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.76), inset 0px 0px 1px 0px rgba(0,0,0,0.50);
			header{
				width: 91.919191919%;
				margin: auto;
				font-family: AvenirNextRegular;
				color: #242424;
				letter-spacing: -.03rem;
				line-height: 1.5rem;
				font-size: .8126rem;
				padding-bottom: 11.45231%;
				padding-top: .75rem;

				h2:first-child{
					float: left;
				}
				h2:last-child{
					float: right;

				}
			}
			.container_for_p{
				width: 85%;
				margin: auto;
				p{
					font-family: AvenirNextMedium;
					font-size: .9rem;
				}
			}
	}
	}
}



.fourth_mobile_background_and_logo{
	position: relative;
	z-index: -1;
	width: 100%;
	min-width: 320px;
	line-height: 0;
	.fourth_mobile_background{
		width: 100%;
		height: 100%;
	}
		.fourth_block_logo{
		position: absolute;
		bottom: 5%;
	}
}

.fourth_section{
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		min-width: 320px;

		z-index: 1;
		.container_fourth{
			position: relative;
			.social{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-right: 13%;
				img:first-child{
					padding-top: 11%;
					padding-bottom: 10.5%;
				}
				img:last-child{
					padding-top: 10.5%;
				}
			}

		.fourth_block_main_block{

			width: 79.375%;
			margin: auto;
			margin-top: 6.5%;
			background: rgba(255,255,255,0.46);

			.group_phone{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				width: 90%;
				margin: auto;
				font-family: AvenirNextMedium;
				font-size: 1.3rem;
				a{
					margin: auto;
					text-decoration: none;
					color: rgba(0,0,0,.94);
				}

				li:first-child{
					margin: auto;
					margin-top: 10%;

				}
				li:nth-child(2){

					margin: 7% auto;
				}
				li:last-child{
					margin: auto;
					margin-bottom: 10%;
				}
			}
		}


		}

}


/* Custom, iPhone Retina */
@media only screen and (min-width : 375px) {
	.second_mobile_background_and_logo{
		.second_block_logo{
			.logo{@include visible(block);
			}
		}
	}
	.fourth_section{
		.container_fourth{
			.fourth_block_main_block{
				margin-top: 13%;
			}
		}
	}
}




/* Extra Small Devices, Phones */
@media only screen and (min-width : 330px) {
	.prof_in_third_block{
		margin-right: 10%;
	}
}

@media only screen and (min-width : 370px) {
	.prof_in_third_block{
		margin-right: 15%;
	}

}


@media only screen and (min-width : 442px) {
	// .name_in_third_block{

	// }
	.third_section{
		.container_third{
			.third_section_main_block{
				header{
					h2{
							.unvisible{
		@include visible(none);
	}
					}
				}
			}
		}
	}

	.name_in_third_block::after{
		content: ', дизайнер-модельер'
	}
	.prof_in_third_block{
		@include visible(none);
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 463px) {



}




@media only screen and (min-width : 672px) {
		.first_mobile_background_and_logo{
			@include visible(none);
	}
			.second_mobile_background_and_logo{
			@include visible(none);
	}
			.third_mobile_background_and_logo{
			@include visible(none);
	}
			.fourth_mobile_background_and_logo{
			@include visible(none);
	}
	.more_content{
	@include visible(block);
	margin-top: -11%;
	margin-bottom: 9%;
	/* Капсульная коллекция: */
}
.header_slider{
	@include visible(block);
}
.slider{
	@include visible(block);
}
.paginator-center{
	@include visible(block);
}
	.first_tablet_background_and_logo{
		position: relative;
		z-index: -1;
		width: 100%;
		min-width: 672px;
		line-height: 0;
		@include visible(block);
		.first_tablet_background{
			width: 100%;
		}
			.first_block_logo{
				@include visible(none);
			}
		}
	.second_tablet_background_and_logo{
		position: relative;
		z-index: -1;
		width: 100%;
		min-width: 672px;
		line-height: 0;
		@include visible(block);
		.second_tablet_background{
			width: 100%;
		}
			.second_block_logo{

				@include visible(none);
			}
		}
	.third_tablet_background_and_logo{
		position: relative;
		z-index: -1;
		width: 100%;
		min-width: 672px;
		line-height: 0;
		@include visible(block);
		.third_tablet_background{
			width: 100%;
		}
		.third_block_logo{
			position: absolute;
			bottom: 5%;
			@include visible(none);
			.logo{

				width: 80px;
				height: 44px;
			}
		}
	}

	.first_section{
		.container_first{
			display: flex;
			flex-direction: column;
			.top_header{

				height: 3.91rem;
				.nameAndProfession{
					margin-top: .2rem;
					margin-left: 1.5rem;
					.name{
						font-size: 1.485rem;
					}
					.profession{
						margin-top: -.2em;
						font-size: 1.025rem;

					}
				}
				.telephonAndBtn{
					margin-right: 1.5rem;
					margin-top: 1.1rem;

					.telephone{
						font-size: 1.125rem;
						margin-right: .8em;
					}

					.container_for_popup{
						vertical-align: middle;
						display: inline-block;

						a{
							font-size: .9rem;
							height: 2.1rem;
							text-shadow: 0 0 1px rgba(0,0,0,.3);
							padding: 0 1rem;
							border-radius: .25rem;

						}
					}

				}
			}


			.services{
				width: 65.8203125%;
				margin: auto;
				margin-top: 12.6%;
				position: static;
				background: rgba(49, 7, 7, .12);
				border: none;
				box-shadow: 0px 0px 3px 0px #000000, inset 0px 0px 3px 0px rgba(0,0,0,0.21);
				ul{
					font-size: 1.75rem;
					color: rgba(250,250,250,1);
					padding: 9.45331%;
					li:nth-child(2){

					}
					li:nth-child(3){

					}
				}
			}
		}
}





//second
.second_section{
	// top: 54.5%;
	.container_second{
	.second_section_main_block{
		// height: 31rem;
		margin-top: 75%;
		.container_for_main_info{
			margin-top: 1.5em;
			flex-direction: row;
			// flex-flow: row wrap;
  		h2{
				font-weight: 100;
				color: rgba(18,18,18,0.95);
				line-height: 45px;
  			}
  			.list_clothes{

  				:nth-child(1){
  					width: 5rem;
  				}
					li{
						font-size: 1.35rem;
					}
  			}
  		.container_for_basic_wardrobe{
  			display: flex !important;
  			align-items: flex-end;
  			align-content: flex-end;

  		ul{
  				margin-top: 0;
  			}
  			.list_clothes{
  				margin-top: 1.7em;
  				:nth-child(2){
  				  padding-top: .6rem;
  					padding-left: 1.7rem;
  				}
  				:nth-child(3){
  					padding-top: .55rem;
						padding-left: 1.7rem;
  				}
  				:nth-child(4){
  					padding-top: .55rem;
  					padding-left: 1.7rem;
  				}
  				:nth-child(5){
  					padding-top: .55rem;
  					padding-left: 1.7rem;

  				}
  			}

  			.unvisible{
  				@include visible(none);
  			}
  			h2::before{

  				content: 'Базовый гардероб:';
  			}

  		}
  		.container_for_outerwear{


  		ul{
  			margin-top: 0;
  		}
  			.list_clothes{
					margin-top: 1.7em;
  				:nth-child(2){
  				  padding-top: .6rem;
  					padding-left: .3rem;
  				}
  				:nth-child(3){
  					padding-top: .55rem;
						padding-left: .3rem;
  				}
  				:nth-child(4){
  					padding-top: .55rem;
  					padding-left: .3rem;
  				}
  				:nth-child(5){
  					padding-top: .55rem;
  					padding-left: .3rem;

  				}
  			}
  			margin-top: 0;
  		}
			h2{
				font-size: 1.5rem;
				// padding-bottom: 1rem;
			}
			ul{
			margin-top: 0;
		}
		}



		li{

		}



	}
	.btn_price{
		.more_content{
			margin-top: -5em;
		}
		.capsule_collection{
			line-height: 150%;
		}
		.capsule_collection, .work_with_skin{
			text-shadow: 0 0 0rem rgba(0, 0, 0, 0.41);
			letter-spacing: -1px;
			font-family: AvenirNextMedium;
			color: rgba(18,18,18,0.85);
			font-weight: 100;
		}
		.download{
			background: rgba(77,77,77,0.14);
			border: 1px solid #141414;
			border-radius: .3rem;
			height: 2.1rem;
			font-size: 1rem;
			color: black;
			width: 8rem;
		}
	}
	.btn_price p{
		width: 300px;
		color: rgba(0,0,0,1);
		margin-top: 1.5%;
		line-height: 115%;
		font-size: .8rem;
	}
}

}

.third_section{
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		min-width: 320px;

	.container_third{
		position: relative;
		.slider_box{
			position: relative;
					.slider{

			width: 70vw;
			margin: auto;
			margin-bottom: 10%;
			img{

				// height: 80vh;
			}
		}
				.paginator-center{


  li{
  	position: absolute;
    &.prev{
      display: block;
 			top: 50%;
 			left: 8%;

 			img{
				width: 78%;
				 			&:hover{
				cursor: pointer;
 			}
      }

      // background: url('../../images/slider/prev.svg') no-repeat;
      // background: red;
    }

    &.next{
      display: block;
      top: 50%;
      right: 8%;
			text-align: right;


      img{
					width: 78%;
					 			&:hover{
				cursor: pointer;
 			}
      }

      // background: url('../../images/slider/next.png') no-repeat;
    }
  }
}
		}


		.header_slider{
			text-align: center;
			font-family: AvenirNextMedium;
			/* Портфолио: */
			font-size: 1.8666666667rem;
			color: rgba(255,255,255,0.80);
			text-shadow: 0 0 1px rgba(255,255,255,0.80);
			line-height: 55px;
			font-weight: 100;
			margin-top: 3%;
			margin-bottom: 2.6%;
		}
		h2{
			text-align: center;
			font-family: AvenirNextRegular;
			color: rgba(0,0,0,0.80);
			/* Мария Войцевская, ди: */

			line-height: 48px;
		}
		.third_section_main_block{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			// width: 92.8125%;
			width: 90%;
			// min-width: 320px;
			// margin: auto;
			margin-right: 0;
			margin-top: 1.1411rem;
			padding-bottom: 10%;
			background: rgba(255,255,255,0.45);
			box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.76), inset 0px 0px 1px 0px rgba(0,0,0,0.50);
			header{
				width: 91.919191919%;
				margin: auto;
				font-family: AvenirNextRegular;
				color: #242424;
				letter-spacing: -.03rem;
				line-height: 1.5rem;
				font-size: 1.02rem;
				padding-bottom: 2.45231%;
				padding-top: .75rem;

				h2:first-child{
					float: left;
				}
				h2:last-child{
					float: right;

				}
			}
			.container_for_p{
				width: 85%;
				margin-right: 2%;
				// text-align: righ;
				p{
					font-family: AvenirNextMedium;
					font-size: 1.5rem;
				}
			}
	}
	}
}
// .fourth_mobile_background_and_logo{
// 	position: relative;
// 	z-index: -1;
// 	width: 100%;
// 	min-width: 672px;
// 	//
// 	// line-height: 0;
// 	.fourth_mobile_background{
// 		width: 100%;
// 		height: 100%;

// 	}
// 		.fourth_block_logo{
// 		position: absolute;
// 		bottom: 5%;
// 		img{
// 			@include visible(none);
// 		}
// 	}
// }

.fourth_section{

		.container_fourth{
			margin-top: 10.5%;
			display: flex;
			flex-direction: row;
			flex-flow: row wrap;
  		justify-content: space-around;
  		align-items: center;
  		 //flex-start | flex-end | center | space-between | space-around

			.social{

				order: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				align-items: flex-end;
				margin-right: 0;
				img{
					width: 190%;
				}
				img:first-child{
					// padding-top: 11%;
					padding-bottom: 120.5%;
				}
				img:last-child{
					padding-top: 120.5%;
				}
			}

		.fourth_block_main_block{
			width: 57.421875%;
			margin: 0;
			background: rgba(255,255,255,0.46);

			.group_phone{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				width: 90%;
				margin: auto;
				font-family: AvenirNextMedium;
				font-size: 1.9rem;
				a{
					margin: auto;
					text-decoration: none;
					color: rgba(0,0,0,.94);
				}

				li:first-child{
					margin: auto;
					margin-top: 15%;

				}
				li:nth-child(2){

					margin: 10.5% auto;
				}
				li:last-child{
					margin: auto;
					margin-bottom: 15%;
				}
			}
		}


		}
	}

}


@media only screen and (min-width : 738px) {
	.second_section_main_block{


	}

}
@media only screen and (min-width : 768px) {
	.first_section{
		.container_first{
			.top_header{
				.telephonAndBtn{
					.container_for_popup{
						a{
							padding: .4em 1em .4em 1em;
						}
					}
				}
			}
		}
	}


	.second_tablet_background_and_logo{
		.second_tablet_background{
			width: 100%;
		}
		.second_block_logo{
			position: absolute;
			@include visible(flex);
			bottom: 3%;
			.logo{
				width: 80px;
				height: 44px;
			}
		}
	}
	.third_tablet_background_and_logo{
		.third_tablet_background{
			width: 100%;
		}
		.third_block_logo{
			// position: absolute;

			bottom: 5%;

			@include visible(flex);
			.logo{

				width: 80px;
				height: 44px;
			}
		}
	}
}

@media only screen and (min-width : 934px) {
	.second_tablet_background_and_logo{
		.second_block_logo{
				position: absolute;
				bottom: 2.5%;
			@include visible(flex);
			.logo{
								width: 80px;
				height: 44px;
			}
		}
	}
	.first_tablet_background_and_logo{
		.first_block_logo{
				position: absolute;
				bottom: 2.5%;
			@include visible(flex);
			.logo{
								width: 80px;
				height: 44px;
			}
		}
	}
}



/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {
	.first_tablet_background_and_logo{
		.first_block_logo{
			position: absolute;
			bottom: 2.5%;
			@include visible(flex);
			.logo{
				width: 100px;
				height: 55px;
			}
		}
	}
		.second_tablet_background_and_logo{
		.second_block_logo{
			position: absolute;
			bottom: 2.5%;
			@include visible(flex);
			.logo{
				width: 100px;
				height: 55px;
			}
		}
	}
		.third_tablet_background_and_logo{
		.third_block_logo{
			position: absolute;
			bottom: 2.5%;
			@include visible(flex);
			.logo{
				width: 100px;
				height: 55px;
			}
		}
	}
.first_section{
	.container_first{
		.top_header{
			height: 4rem;
			.nameAndProfession{
				margin-top: -.01em;
				.name{
					font-size: 1.7rem;

				}
				.profession{
					font-size: 1.2rem;
					margin-top: -2%;
				}
			}
			.telephonAndBtn{
				margin-top: 1.2em;
				.telephone{

					text-shadow: 0 0 1px rgba(50, 50, 50, .8);
					font-size: 1.3rem;

				}
				.container_for_popup{

					a{

					font-size: 1.1rem;
					padding: .4em .8em;
					}
				}
			}
		}

		.services{
			margin-top: 12.1%;
			width: 32em;
			ul{
				font-size: 2.1rem;
				color: rgba(245, 245, 245, 1);
				text-shadow: 0 0 1px rgba(250, 250, 250, .8);
				padding: 10.15331%;

				font-family: AvenirNextRegular;
				li:nth-child(2){

						padding-top: 12%;
				}
				li:nth-child(3){
					padding-top: 12%;
				}
			}
		}
	}
}

.second_section{
	.container_second{
		margin-top: -2em;
		.second_section_main_block{
			width: 75vw;
			.container_for_main_info{
				margin-top: 3.7em;

				.container_for_basic_wardrobe{
					// height: 270px;
  			.list_clothes{
					// padding-top: 2%;
  				li{
  					font-size: 1.5rem;
  				}
  				.trouble_img{
  					// padding-top: 8px;

  				}
					:nth-child(1){
						width: 100px;
						padding-top: .2em;
						// margin-top: 10%;
						// margin-top: 2%;
					}
  				:nth-child(2){
						// font-size: 1.8rem;
						padding-top: .3em;
						// background: red;


  					padding-left: 1em;
  				}
  				:nth-child(3){
  					padding-top: .3em;
  					// font-size: 1.8rem;
						padding-left: 1em;
  				}
  				:nth-child(4){
  					padding-top: .3em;
  					// font-size: 1.8rem;
  					padding-left: 1em;

  				}
  				:nth-child(5){
  					padding-top: .3em;
  					// font-size: 1.8rem;
  					padding-left: 1em;

  				}
  			}
					.basic_wardrobe{

						font-size: 1.9rem;
					}
				}
				.container_for_outerwear{
  			.list_clothes{
					// padding-top: 2%;
  				li{
  					font-size: 1.5rem;

  				}
  				.trouble_img{
  					// padding-top: 8px;

  				}
					:nth-child(1){
						padding-top: .2em;
						width: 100px;
						// margin-top: 10%;
						// margin-top: 2%;
					}
  				:nth-child(2){
						// font-size: 1.8rem;
						padding-top: .3em;

						// background: red;


  					padding-left: .5rem;
  				}
  				:nth-child(3){
  					padding-top: .3em;
  					// font-size: 1.8rem;
						padding-left: .5rem;
  				}
  				:nth-child(4){
  					padding-top: .3em;
  					// font-size: 1.8rem;
  					padding-left: .5rem;

  				}
  				:nth-child(5){
  					padding-top: .3em;
  					// font-size: 1.8rem;
  					padding-left: .5rem;

  				}
  			}
					// height: 270px;
					.outerwear{
						font-size: 1.9rem;
					}
				}





			}
			.btn_price{
				.more_content{
					font-size: 1.2rem;
					margin-top: -5.5em;
					margin-bottom: 5em;
				}
				a{
					font-size: 1rem;
					padding: .3em 2.3em;
					&:hover{
						cursor: pointer;
					}
				}
			}


		}
	}
}

.third_section{
	.container_third{
		.slider_box{
			.header_slider{
				margin-top: 4.2%;
				margin-bottom: 3%;
				opacity: .85;
				font-size: 2.2rem;
			}
		}
		.third_section_main_block{
			margin-top: 13.4%;
			width: 85vw;
			header{
				margin-top: 2.3%;
				font-size: 1.3rem;
				letter-spacing: -1px;
				text-shadow: 0 0 1px rgba(50, 50, 50, .7);
			}
			.container_for_p p{
				font-size: 1.6rem;
				text-shadow: 0 0 1px rgba(50, 50, 50, .5);
				margin-top: 4.5%;
				line-height: 2.1rem;
				margin-bottom: 2.7%;
			}
		}
	}
}



	.fourth_section{
		.container_fourth{
			margin-top: 15%;
			.social{
				order: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				align-items: flex-end;
				margin-right: 0;
				img{
					width: 180%;
				}
				img:first-child{
					// padding-top: 11%;
					padding-bottom: 130.5%;
				}
				img:last-child{
					padding-top: 130.5%;
				}
			}

			.fourth_block_main_block{
				width: 28em;
				margin-left: 10%;
				// margin-left: 2em;
				.group_phone{
					font-size: 2rem;

					li:nth-child(1){
						margin-top: 18%;


					}
					li:nth-child(3){
						margin-bottom: 18%;
					}
				}
			}
		}
	}
}
@media only screen and (min-width : 1280px) {
	.first_section{
		.container_first{
			.services{
				margin-top: 16.5%;
				width: 55vw;
				background: rgba(27, 7, 7, .3);
			}
		}
	}

	.second_section{
		.container_second{
			.second_section_main_block{
				.container_for_main_info{
					margin-top: 5em;
					.container_for_basic_wardrobe{
						.basic_wardrobe{
							font-size: 2.2rem;
						}
						.list_clothes{
							margin-top: 2em;
							li:nth-child(1){

							}
							li:nth-child(2){
								font-size: 1.7rem;
							}
							li:nth-child(3){
								font-size: 1.7rem;
							}
							li:nth-child(4){
								font-size: 1.7rem;
							}
							li:nth-child(5){
								font-size: 1.7rem;
							}
						}
					}
				.container_for_outerwear{
					.outerwear{
						font-size: 2.2rem;
					}
					.list_clothes{
						margin-top: 2em;
							li:nth-child(1){
							}
							li:nth-child(2){
								font-size: 1.7rem;
							}
							li:nth-child(3){
								font-size: 1.7rem;
							}
							li:nth-child(4){
								font-size: 1.7rem;
							}
							li:nth-child(5){
								font-size: 1.7rem;
							}
						}
				}

				}
				.btn_price{
					.more_content{
						margin-bottom: 100px;

					}
					.download{

					}
					p{
						margin-bottom: 8%;
					}
				}
			}
		}
	}

.third_section{
	.container_third{
		.third_section_main_block{
			width: 75vw;
		}
	}

}

.fourth_section{
	.container_fourth{

			margin-top: 15em;
		.fourth_block_main_block{
			width: 50vw;
			.group_phone{
				font-size: 2.5rem;
				li:nth-child(1){
					margin-top: 2em;
				}
				li:nth-child(2){
					margin: 2em auto;
				}
				li:nth-child(3){
					margin-bottom: 2em;
				}
			}
		}
	}
}

}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1920px) {
	.second_tablet_background_and_logo{
		height: 225vh;
		.second_tablet_background{

		}
		.second_block_logo{
			.logo{
				width: 180px;
				height: 90px;
			}
		}
	}
	.first_tablet_background_and_logo{

		.first_tablet_background{

		}
		.first_block_logo{
			.logo{
				width: 180px;
				height: 90px;
			}
		}
	}

	.third_tablet_background_and_logo{
		height: 100vh;
		.third_tablet_background{

		}
		.third_block_logo{
			.logo{
				width: 180px;
				height: 90px;
			}
		}
	}
		.second_tablet_background_and_logo{
		height: 225vh;
		.second_tablet_background{

		}
		.second_block_logo{
			.logo{
				width: 180px;
				height: 90px;
			}
		}
	}
	.first_section{
		.container_first{
			.top_header{
				height: 5.6rem;
				.nameAndProfession{
					.name{
						font-size: 2.6rem;
					}
					.profession{
						font-size: 1.9rem;
					}
				}
				.telephonAndBtn{
					margin-top: 1.9em;
					.telephone{
						font-size: 1.9rem;


					}
					.container_for_popup{
						margin-top: -16px;
						a{

							font-size: 1.3rem;
						}
					}
				}
			}
			.services{
				ul{
					font-size: 3rem;
				}


			}
		}
	}

	.second_section{
		.container_second{
			.second_section_main_block{
				.container_for_main_info{
					margin-top: 5em;
					.container_for_basic_wardrobe{
						.basic_wardrobe{
							font-size: 3.2rem;
						}
						.list_clothes{
							margin-top: 5em;
							li:nth-child(1){
									img{
										width: 140px;
									}
								margin-left: 1em;
								margin-right: 0;
							}
							li:nth-child(2){
								font-size: 2.2rem;
							}
							li:nth-child(3){
								font-size: 2.2rem;
							}
							li:nth-child(4){
								font-size: 2.2rem;
							}
							li:nth-child(5){
								font-size: 2.2rem;
							}
						}
					}
				.container_for_outerwear{
					.outerwear{
						font-size: 3.2rem;
					}
					.list_clothes{
						margin-top: 5em;
							li:nth-child(1){
																	img{
										width: 140px;
									}
								margin-right: 2em;

							}
							li:nth-child(2){
								font-size: 2.2rem;
							}
							li:nth-child(3){
								font-size: 2.2rem;
							}
							li:nth-child(4){
								font-size: 2.2rem;
							}
							li:nth-child(5){
								font-size: 2.2rem;
							}
						}
				}
				}
				.btn_price{
					.more_content{
						font-size: 2rem;
						line-height: 1em;
						margin-top: -100px;
						margin-bottom: 200px;

					}
					.download{

						font-size: 1.5rem;
						padding: .3em 1.7em;
					}
					p{
						width: 30rem;
						font-size: 1rem;
						margin-bottom: 8%;
					}
				}
			}
		}
	}

.third_section{
	.container_third{
		.slider_box{
			.header_slider{
				font-size: 3rem;
			}
			ul{
				.prev{
					img{
						width: 100px !important;
					}
				}
				.next{
					img{
						width: 100px !important;
					}
				}
			}
		}
		.third_section_main_block{
			height: 20em;
			margin-top: -1em;
			width: 70vw;
			header{
				margin-top: 4em;
				.name_in_third_block{
					font-size: 3rem;
					margin-left: 2em;
				}
			}
			.container_for_p{
				margin-left: 3em;
				width: 80%;
				p{
					line-height: 1.1em;
					font-size: 2rem;
				}

			}
		}
	}

}

.fourth_section{
	.container_fourth{
		margin-top: 12em;
		.social{
			width: 3.3%;
		}
		.fourth_block_main_block{
			width: 40vw;
			.group_phone{
				font-size: 3rem;
			}
		}
	}
}

}
